body {
    background-color:#7acee8;
    color:black;
}

nav,footer{
    text-align: center;
}

#head{
    font-family: 'Permanent Marker', cursive;
    -webkit-animation: fadein 3s;
    text-align: center;
    font-size: 60px;
    transition:.6s;
}

nav{
    
    background-color: #247791;
}

nav a{
    
    font-family: 'Abel', sans-serif;
    
    padding:10px;
    text-decoration: none;
    font-size: 1.5em;
    color:black;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

nav a:hover{
    border-bottom: 2px white solid;
    font-size:1.8em;
    transition:.6s;
    
}

section,article{
      font-family: 'Open Sans Condensed', sans-serif;
      padding-right: 315px;
      right: 5px;
      bottom:10px;
}

aside{
   
    position: absolute;
    top:150px;
    padding-left: 500px;
}

aside img{
    width: 300px;
    height: 170px;
    border: 1px black dashed;
}

.func{
    text-decoration: underline;
    font-weight: bold;
}

.active{
    font-weight: bold;
    padding:0px;
    background-color:#5a99ad;
    border: 1px dotted white;
    background-clip: content-box;
}