body{
    text-align:center;
    background-image: url("../img/numbers_bg.jpg");
    background-size: cover;
}
#title{
    font-family: 'Luckiest Guy', cursive;
}
.jumbotron {
    background-color: #ae8cff;
}

#directions {
    background-color:#ae8cff;
    font-size: 2em;    
    width:900px;
    height:200px;
    margin:0 auto;
    border-radius:20px;
}

.resultParas{
     background-color:#ae8cff;
}

h1{
     font-family: 'Luckiest Guy', cursive;
     color: red;
}
