body{
    text-align:center;
    background-image: url("../img/numbers_bg.jpg");
    background-size: auto;
}
#title{
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 6em;

}
#jumbotron {
    background-color: #ceffc4;
    margin-bottom: 75px;
}
#lastResult, #guesses, #stats, #lowOrHi{
    background-color:#e0c4ff;
    font-family: 'Orbitron', sans-serif;
}
#directions {
    font-family: 'Anton', sans-serif;
    background-color:#e0c4ff;
    font-size: 2em;    
    width:900px;
    height:300px;
    margin:0 auto;
    border-radius:20px;
}


h1{
     font-family: 'Luckiest Guy', cursive;
     color: red;
}
